*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.row{
  display: flex;
}

.container{
  margin: 2% auto;
  width: 80%;
  height: 100vh;

}

.list{
  width: 25%;
  height: 100%;


}
.display-chat{
  width: 75%;
  height: 100%;

}

.user{
  height: 10%;
  width: 100%;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  align-items: center;

}
.list .user{
  border-right: 1px solid rgb(214, 214, 214);
}
ul li{
  list-style: none;
}

/* list */

.notification{
  height: 10%;
  background-color: gray;
}
.search{
  height: 5%;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid rgb(214, 214, 214);
}
.users-list{
  height: 75%;
  overflow: scroll;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid rgb(214, 214, 214);
}
img{
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.profile{
  width: 20%;
  height: 100%;
  align-items: center;

}

.description{
  width: 80%;
  justify-content: end;
}
.description .menu ul li{
  margin: 0 10px;
  color: rgb(177, 177, 177);
}

.list .notification{
  align-items: center;
  background-color: rgb(142, 218, 252);
}
.list .notification .bell{
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: rgb(142, 218, 252);
  margin: 0 20px;
}
.list .notification span{
  text-decoration: underline;
  color: rgb(90, 134, 154);
}

.list .search {
 text-align: center;
}
.list .search .magniguying-search{
  margin: auto;
  width: 95%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.list .search .magniguying-search input{
  width: 300px;
}
.list .search .magniguying-search .fa-magnifying-glass{
  color: rgb(180, 183, 185);
  margin: 0 10px;
}
.users-list .users-chat{
  height: 80px;
  border: 1px solid rgb(245, 245, 245);
  align-items: center;
  padding: 10px;
}
.users-list .name span{
  color: rgb(191, 194, 196);
}
.users-list .name .hour{
  margin-left: 50px;
  align-items: center;
  color: rgb(191, 194, 196);
}
/* chat */
.chat{
  height: 80%;
  width: 100%;
  padding: 60px 40px;
  overflow: scroll;
  background-image: url(../img/mine.jpg);
}
.chat .text-right{
  height: 100%;
  width: 40%;
  border: 1px solid black;
  margin: 30px 0;
  padding: 20px;
}
.chat .send-messages{
  justify-content: flex-end;
  height: 20%;  
}
.chat .text-left{
  height: 20%;
  width: 40%;
  border: 1px solid black;
  margin: 30px 0;
  padding: 20px;
}

.display-chat .profile{
  width: 50%;
}
.display-chat .profile .avatar{
  margin-right: 20px;
}
.display-chat .description{
  width: 50%;
}


/* media query */

/* tablet */

@media screen and (max-width: 992px){
  .container{
    margin: 0;
    width: 100%;
  }

  .list{
    width: 10%;
  }
  .display-chat{
    width: 90%;
  }
  .notification, .search, .name{
    display: none;
  }
  .users-list{
    height: 90%;
  }
  .list .description{
    display: none;
  }
  .list .user{
    width: 100%;
    height: 10%; 
  }

  
}


/* smartphone */

@media screen and (max-width: 542px){
  .container{
    width: 100%;
  }
  .list{
    display: none;
  }
  .display-chat{
    width: 100%;
  }
  .display-chat .description{
    display: none;
  }
}